################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/WinterVacation01/obj
/WinterVacation04/obj
/WinterVacation01/bin/Debug
/WinterVacation04/bin/Debug
